In [1]:
import numpy as np

## Allianz Ausbildingsversicherung

In [40]:
# 11 1996, monatliche einzahlung

dm = np.array(1/1.95583)
waehr = np.array([dm, dm, 1, 1,1, 1,1 , 1,1,1,1,1,1,1])
einz = np.array([150.1, 175.9,   97.27 , 117.04, 121.72, 126.59, 131.65, 136.92, 142.39, 148.09, 154.01, 160.18, 166.58, 173.25])
zeit = np.array([3, 2, 2, 1, 1, 1, 2,  2, 1, 1, 2, 1,1, 3])#in jahre
zins = 0.04

In [41]:
np.sum(zeit)

23

In [42]:
eingezahlt = einz*waehr*zeit*12

In [43]:
np.sum(eingezahlt)

35425.76661488984

In [56]:
total = 0
#zinseszins 
for i in range(len(zeit)):
    for j in range(zeit[i]):#jahre
        total *= 1+zins
        total += 12*einz[i] * waehr[i]
        #print(total)
total

52790.13874985782

In [58]:
#ohne zinsenszins
total = 0
zinsen = 0 
for i in range(len(zeit)):
    for j in range(zeit[i]):#jahre
        zinsen += total * zins
        total += 12*einz[i] * waehr[i]
        #print(total)
total+zinsen

48691.685190831515

In [64]:
total = 0
zinsen = 0

for i in range(len(zeit)):
    for j in range(zeit[i]):#jahre
        
        for k in range(1,13):
            zinsen += total * 0.0032737398
            total += einz[i] * waehr[i]
        #print(total)
total+zinsen

49092.37738419537

In [66]:
#echtes total: 43848 garantiert

## Mama Lebensversicherung

In [73]:
#anlage (lebenversicherung für etwa 13€ nicht mit gerechnet)
betrag = 497.73
#start: 2002 02 Februar
zins = 0.034

tot = 0
for i in range(20):
    tot *= 1+zins
    tot += betrag*12
tot

167182.77373601482

In [71]:
betrag*12*17

101536.92

1.0266666666666666